<h1>Here's the form to edit a task</h1>

<%= form_with(model: @task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.check_box :completed, checked: 'Task completed' %>
  <%= f.label :completed, 'Task completed' %>
  <%= f.submit %>
 <% end %>

<p><%= link_to 'Back to list', tasks_path %></p>
